html {
  font-size: 100px;
}
html,
body,
#app {
  height: 100%;
  overflow: hidden;
}
#app {
  position: relative;
  margin: 0 auto;
  max-width: 540px;
  font-size: 0.14rem;
}
.header-box,
.footer-box,
.main-box {
  box-sizing: border-box;
  height: 1rem;
  overflow: hidden;
}
.main-box {
  height: calc(100vh - 2rem);
}
/* 通用样式 */
.text-clip {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* Loading层 */
.loading-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-box .content img,
.loading-box .content span {
  display: block;
}
.loading-box .content img {
  margin: 0 auto;
  width: 0.5rem;
  height: 0.5rem;
}
.loading-box .content span {
  margin-top: 0.1rem;
  color: #1989fa;
}
/* 背景层 */
.mark-overlay,
.mark-image {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
}
.mark-image {
  z-index: -2;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
}
.mark-overlay {
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
}
/* 头部区域样式 */
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.15rem;
}
.header-box .player-button {
  margin-left: 0.05rem;
  width: 0.35rem;
  height: 0.35rem;
  background: url('../images/music.svg') no-repeat;
  background-size: 100% 100%;
}
.header-box .player-button.move {
  animation: musicMove 1s linear 0s infinite both;
}
.header-box .base {
  flex-grow: 1;
  display: flex;
}
.header-box .base .cover {
  width: 0.7rem;
  height: 0.7rem;
  background: #AAA;
}
.header-box .base .cover img {
  display: block;
  width: 100%;
  height: 100%;
}
.header-box .base .cover img[src=""] {
  display: none;
}
.header-box .base .info {
  flex-grow: 1;
  margin-left: 0.05rem;
  max-width: 2.3rem;
}
.header-box .base .info .title,
.header-box .base .info .author {
  line-height: 0.35rem;
  color: #fff;
  font-size: 0.17rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.header-box .base .info .author {
  font-size: 0.15rem;
}
@keyframes musicMove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 歌词区域样式 */
.main-box .wrapper {
  transform: translateY(0);
  transition: transform 0.3s;
}
.main-box .wrapper p {
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.15rem;
  color: rgba(255, 255, 255, 0.5);
}
.main-box .wrapper p.active {
  color: #31C27C;
  transition: color 0.3s;
}
/* 尾部区域样式 */
.footer-box {
  padding: 0 0.1rem;
}
.footer-box .download {
  display: block;
  margin: 0 auto;
  width: 2.13rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.18rem;
  color: #fff;
  text-indent: 0.2rem;
  border-radius: 0.25rem;
  background: url('../images/sprite_play.png') no-repeat #31C27C;
  background-size: 0.4rem 3.5rem;
  background-position: 0.1rem -2.915rem;
}
.footer-box .bar {
  display: flex;
  align-items: center;
}
.footer-box .bar .time {
  width: 0.4rem;
  line-height: 0.46rem;
  text-align: center;
  font-size: 0.12rem;
  color: rgba(255, 255, 255, 0.5);
}
.footer-box .bar .progress {
  position: relative;
  flex-grow: 1;
  height: 0.02rem;
  background: rgba(255, 255, 255, 0.5);
}
.footer-box .bar .progress .already {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #31C27C;
}
/* 音频 */
#audioBox {
  display: none;
}
